<!DOCTYPE html>
<html>
<head>
<title>Title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/normalize.css" />
<link rel="stylesheet" href="/css/foundation.min.css" />
<link rel="stylesheet" href="/css/main.css" />
</head>
<body>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/min/main.min.js"></script>
</body>
</html>
